.container {
  min-height: 100vh;
}
.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden; clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
